* text=auto !eol
Documentation/Documentation.shfbproj -text
Documentation/XML[!!-~]Documentation[!!-~]Comments[!!-~]Guide.pdf -text
Documentation/bin/Documentation.chm -text
Installer/Banner.jpg -text
Installer/Configuration.xml -text
Installer/Dummy[!!-~]-[!!-~]do[!!-~]not[!!-~]delete.exe -text
Installer/Installer.vdproj -text
Installer/License.rtf -text
Installer/Setup.ico -text
Installer/Uninstall.bat -text
/Wallpaper[!!-~]Manager.FxCop -text
/Wallpaper[!!-~]Manager.sln -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/ApplicationVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/ConfigTextOverlaysVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/ConfigWallpaperVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/ConfigurationVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/Enumerations/ConfigWallpaperMode.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/WallpaperCategoryCollectionVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/WallpaperCategoryVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/WallpaperChangerVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Interface[!!-~]Layer/WallpaperVM.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/EventArgs/RequestWallpapersEventArgs.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/EventArgs/VersionCheckSuccessfulEventArgs.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/UpdateManager.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/WallpaperBuilderAll.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/WallpaperBuilderAllCloned.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/WallpaperBuilderBase.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/WallpaperBuilderOneByOne.cs -text
Wallpaper[!!-~]Manager/Application[!!-~]Layer/WallpaperChanger.cs -text
Wallpaper[!!-~]Manager/Changelog.txt -text
Wallpaper[!!-~]Manager/Configuration.xsd -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/AppEnvironment.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Configuration.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Enumerations/OverlayTextPosition.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Enumerations/TrayIconClickAction.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Enumerations/WallpaperChangeType.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Enumerations/WallpaperClickAction.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Enumerations/WallpaperEffects.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Enumerations/WallpaperPlacement.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/ExceptionMessages.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/GeneralConfig.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/LocalizationManager.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/ScreenMargins.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/ScreenSettings.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/ScreenSettingsCollection.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/LastActiveWallpaperCollection.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/ReadOnlyWallpaperCategoryCollection.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/SynchronizedWallpaperCategory.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/Wallpaper.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/WallpaperCategory.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/WallpaperCategoryCollection.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/WallpaperDefaultSettings.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/Wallpaper[!!-~]Data/WallpaperSettingsBase.cs -text
Wallpaper[!!-~]Manager/Data[!!-~]Layer/WallpaperOverlayText.cs -text
Wallpaper[!!-~]Manager/License.rtf -text
Wallpaper[!!-~]Manager/License.txt -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Application.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Application.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Controls/ScreenLayoutBox.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Converters/WallpaperPlacementConverter.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/DialogManager.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Markup[!!-~]Extensions/LocalizedString.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/NotifyIconManager.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Dialog.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Global.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/About.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Add.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Category.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Configuration.ico -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Configuration.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Cycle[!!-~]Next.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Cycling[!!-~]Settings.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Download.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Error.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/General[!!-~]Settings.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Information.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Main.ico -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Main.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Monitor[!!-~]Settings.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Remove.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Rename.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Start[!!-~]Cycling.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/StartCycling.ico -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Stop[!!-~]Cycling.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/StopCycling.ico -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Synchronized[!!-~]Category.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Wallpaper.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Icons/Warning.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/Image[!!-~]Load[!!-~]Error.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/Main[!!-~]Large.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/Main.jpg -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/Main.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/Multi[!!-~]Monitor[!!-~]Behaviour[!!-~]1.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/Multi[!!-~]Monitor[!!-~]Behaviour[!!-~]2.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/Multi[!!-~]Monitor[!!-~]Behaviour[!!-~]3.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Images/No[!!-~]Preview.png -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Localization/LocalizationData.de-DE.resx -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Localization/LocalizationData.resx -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Resources/Theme.GradualBlack.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/ToolTipData.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/AboutWindow.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/AboutWindow.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWallpaperWindow.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWallpaperWindow.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/ConfigTextOverlaysWindow.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/ConfigTextOverlaysWindow.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/ConfigWindow.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/ConfigWindow.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/CyclingSettingsPage.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/CyclingSettingsPage.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/GeneralSettingsPage.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/GeneralSettingsPage.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/MonitorSettingsPage.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/ConfigWindow/MonitorSettingsPage.xaml.cs -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/MainWindow.xaml -text
Wallpaper[!!-~]Manager/Presentation[!!-~]Layer/Windows/MainWindow.xaml.cs -text
Wallpaper[!!-~]Manager/Properties/AssemblyInfo.cs -text
Wallpaper[!!-~]Manager/Properties/app.manifest -text
Wallpaper[!!-~]Manager/References/AvalonLibrary.dll -text
Wallpaper[!!-~]Manager/References/AvalonLibrary.pdb -text
Wallpaper[!!-~]Manager/References/AvalonLibrary.xml -text
Wallpaper[!!-~]Manager/References/Common.Presentation.dll -text
Wallpaper[!!-~]Manager/References/Common.Presentation.pdb -text
Wallpaper[!!-~]Manager/References/Common.dll -text
Wallpaper[!!-~]Manager/References/Common.pdb -text
Wallpaper[!!-~]Manager/Wallpaper[!!-~]Manager.csproj -text
Wallpaper[!!-~]Manager/app.config -text
